.bb_editor_container {
	/*position: relative;*/
}

.no-js .bb_code_editor {
	display: none;
}

.bb_code_editor {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 350px;
}

.bb_code_hidden {
	display: none;
}